<!DOCTYPE html>
<html>
<head>
</head>
<body>


	<form action="/" method="POST" style="max-width:500px;margin:auto">
  <h2>Enter Quote Info</h2>

   <div>
    <input class="input-field" type="text" placeholder="Quote" name='quote'>
  </div>


  <div>
    <input class="input-field" type="text" placeholder="Author name" name='name'>
  </div>

  
  <div>
    <input class="input-field" type="text" placeholder="Author age" name='age'>
  </div>

  <button type="submit">Submit</button>
</form>
<br>

<!-- Create your form here!
 -->
 
</body>
</html>